* {
	box-sizing: border-box;
}

/* TRON font */
@font-face {
	font-family: Tron;
	src: url(../assets/fonts/TRON.TTF);
}

/* 
COLORS:
	Black (backgrounds) #0C141F
	light Blue (text) #6FC3DF
	yellow #FFE64D
	orange #DF740C
	white #E6FFFF
*/

body {
	color: #6fc3df;
	font-family: Tron;
	background-color: #0c141f;
}

/* ---- Header Styles ----- */

header {
	display: flex;
	background-color: #0c141f;
	min-height: 8em;
	width: 100%;
	justify-content: center;
	border-bottom: 5px solid #DF740C;
}

.main-title {
	font-size: 5em;
	align-self: center;
}

/* ---- Game area styles ---- */

.main-area {
	padding: 20px 0;
	background-color: #0c141f;
}

.play-area {
	margin: 0 auto;
	display: flex;
	height: 400px;
	width: 300px;
	border: 1px solid #e6ffff;
	justify-content: center;
}

.start-page {
	/* display: none; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	flex: 1;
}

h2 {
	font-size: 1.5em;
}

p {
	margin: 10px 0;
}

.start-page h2 {
	margin: 20px 0;
	padding: 10px 0;
	border-top: 1px solid #6fc3df;
	border-bottom: 1px solid #6fc3df;
}

.player-area {
	/* the flexbox sets the initial position of the players */
	/* display: flex; */
	display: none;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	flex: 1;

	height: 100%; /* fill the play area */
}

.win-message {
	margin-top: 100px;
	position: absolute;
	display: none;
}

.bike {
	display: flex; /* using flex to center rider */
	justify-content: center;
	align-items: center;

	position: relative; /* Relative positioning pulls player out of document flow */
	bottom: 0; 

	/* Set the size of the players */
	height: 30px;
	width: 10px;
	border-radius: 3px;
}

.rider {
	height: 16px;
	width: 4px;
	background-color: #000;
}

.player-1 {
	background-color: #6fc3df; /* BLUE */
}

.player-2 {
	background-color: #df740c; /* ORANGE */
}

.light-trail {
	position: relative;
	width: 5px;
	margin-top: 3px;
}

#trail-1 {
	/* Modifying height will control the players position on the screen */
	height: 10px;
	background-color: #e6ffff;
}

#trail-2 {
	/* Modifying height will control the players position on the screen */
	height: 10px;
	background-color: #ffe64d;
}


/* ---- Footer/Controls area styles ---- */

.controls {
	background-color: #0c141f;
	color: #e6ffff;
	border-top: 5px solid #df740c;
	padding: 20px;
}

.controls p {
	font-size: 0.8em;
}

.instructions .blue {
	font-size: 1.6em;
	color: #6fc3df;
}

.instructions .orange {
	font-size: 1.6em;
	color: #ffe64d;
}


